.form .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.space-y {
  margin: 8px 0px;
}

.form-series {
  display: flex;
  flex-direction: column;
  gap: 4px 0px;
}

.form-actions {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
}

.form-actions button + button {
  margin-left: 8px;
}

.container {
  position: relative;
}

.fan-create {
  padding: 16px;
  margin-top: 8px;
  background-color: #424242;
  position: relative;
}
