#header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 2rem;

  h1 {
    font: 400 56px/56px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: -0.02em;
    margin: 0;
  }
}
